.form_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 30vw;
}

.contato_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.mapa {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.map_form {
    display: flex;
    justify-content: space-evenly;
    gap: 10vw;
    flex-flow: row nowrap;
}

.contato_form {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.contato_form input {
    height: 50px;
    font-size: 15px;
    border-style: none;
    background-color: var(--COR_6);
    padding-left: 10px;

}

.contato_form textarea {
    padding-left: 10px;
    padding-top: 10px;
    border-style: none;
    background-color: var(--COR_6);
}

.contato_form input::placeholder {
    color: var(--COR_5);
}

.contato_sec {
    min-height: 50vh;
}

.form_container p {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
}

.contato_form button {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    background-color: var(--COR_1);
    border-style: none;
    height: 50px;
    transition: all 0.5s ease-in-out;
}

.contato_form button:hover {
    background-color: #7e1024;
    cursor: pointer;
    transform: scale(105%);
}