.bloqueio {
    color: black;
    width: 1000vw;
    height: 1000vh;
    background-color: white;
    position: fixed;
    z-index: 5;
}

.bloqueio p {
    position: fixed;
    padding: 0 40%;
    bottom: 50%;
}

@media screen and (min-width: 1200px) {
    .bloqueio {
        display: none;
    }
}