* {
    padding: 0;
    margin: 0;
}

:root {
    --COR_1: #BD1F3B;
    --COR_2: #F0A71B;
    --COR_3: #F0A71B;
    --COR_4: #9D4F23;
    --COR_5: #6e6e6e;
    --COR_6: #d4d4d4;
    --LOGO_COR: #D6611F;
}


.deco {
    background-color: #BD1F3B;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deco p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.barra_head,
.pesquisar,
.icones,
.bnt_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.icones {
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    color: var(--COR_1);
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icones p {
    margin-left: 10px;
}

.icones:hover {
    cursor: pointer;
}

.pesquisar {
    background-color: #F0A71B;
    min-height: 100px;
    justify-content: center;
}

.logo_header {
    padding-right: 5vw;
    font-size: min(50px, 250%);
    color: #002BFF;
}

.bnt_header {
    width: 100px;
    height: auto;
}

#barra_pes_head {
    padding-left: 10px;
    margin-left: 20px;
    height: 30px;
    width: 40vw;
    border: 1px solid #BD1F3B;
    border-radius: 5px;
}

#lupa {

    position: relative;
    right: 35px;
}

.menu {
    background-color: var(--LOGO_COR);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.categorias_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 40px;
    border-left: 1px solid var(--COR_4);
    border-right: 1px solid var(--COR_4);
}

.categorias_btn p,
.categorias_btn_no_border {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 5px;
    display: flex;
    flex-flow: row;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.categorias_btn p:hover,
.categorias_btn:hover,
.categorias_btn_no_border:hover {
    cursor: pointer;
}

.imagem img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.imagem {
    position: relative;
}

#anuncio {
    margin-top: 5vh;
    display: flex;
    justify-self: center;
    align-items: center;
    width: auto;
    height: 10vw;
}

#anuncio:hover {
    cursor: pointer;
}

#seta_2_header {
    transform: rotateY(180deg);
    position: absolute;
    top: 40%;
    right: 0;
}

#seta_1_header {
    position: absolute;
    top: 40%;
    left: 0;
}

.setas_header {
    display: flex;
    justify-content: space-between;
}

.bolinha_header {
    border-radius: 50%;
    background-color: rgb(112, 112, 112);
    width: 10px;
    height: 10px;
}

.setas_header_svg {
    cursor: pointer;
}

.bolinha_header_select {
    width: 100%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    width: 10px;
    height: 10px;
}

.bolinhas {
    padding: 20px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
}